a:link		{text-decoration: none; color:#004B7C;}
a:visited	{text-decoration: none; color:#004B7C;}
a:active	{text-decoration: none; color:#004B7C;}
a:hover		{text-decoration: none; color:#00365A;}
.td_menu	{font-family:tahoma; font-size:11px; color:#000000;}
.form1		{font-family:tahoma;	font-size: 8pt;	color:#0000FF; background:#B5C6D2; border-width:1px; border-color:<%=tablo_cerceve%>;}
.submit		{font-family:tahoma; font-size: 8pt; color:#0000FF; background:#B5C6D2; border-width:1px; border-color:<%=tablo_cerceve%>; font-weight:bold;}
.copy		{font-family:tahoma; font-size: 9px; color:#003300;}