a:link		{text-decoration: none; color:#FFFFFF;}
a:visited	{text-decoration: none; color:#FFFFFF;}
a:active	{text-decoration: none; color:#FFFFFF;}
a:hover		{text-decoration: none; color:#FFFFFF;}
.td_menu	{font-family:tahoma; font-size:11px; color:#FFFFFF;}
.form1		{font-family:tahoma;	font-size: 8pt;	color:#FFFFFF; background:#555555; border-width:1px; border-color:<%=tablo_cerceve%>;}
.submit		{font-family:tahoma; font-size: 9pt; color:#FFFFFF; background:#555555; border-width:1px; border-color:<%=tablo_cerceve%>; font-weight:bold;}
.copy		{font-family:tahoma; font-size: 9px; color:#003300;}