a:link		{text-decoration: none; color:#008012;}
a:visited	{text-decoration: none; color:#008012;}
a:active	{text-decoration: none; color:#008012;}
a:hover		{text-decoration: none; color:#008012;}
.td_menu	{font-family:tahoma; font-size:11px; color:#008012;}
.form1		{font-family:tahoma; font-size: 8pt; color:#008012; background:#5bed28; border-width:1px; border-color:<%=tablo_cerceve%>;}
.submit		{font-family:tahoma; font-size: 9pt; color:#008012; background:#5bed28; border-width:1px; border-color:<%=tablo_cerceve%>; font-weight:bold;}
.copy		{font-family:tahoma; font-size: 9px; color:#003300;}